.header{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-family: Helvetica;
  font-size:100px;
  font-weight:bold;
  color:khaki;
  text-align: center;
}
.description{
  font-family: Helvetica;
  font-size:32px;
  font-weight:bold;
  color:white;
background-color: mediumspringgreen;
}
#frameid{
  background-color: lightcoral;
}
#price{
  font-family: Helvetica;
  font-weight: bold;
  color:blue;
}
#paintid{
background-color: skyblue;
}

h3{
  font-weight: bold;
  font-size: 22px;
}
p{
  font-size: 18px;
}
